{{>navigation}}
<h1>{{title}}</h1>
<p>{{content}}</p>

<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Name: {{user.name}}</p>
<p>Surname: {{user.surname}}</p>

<h2>Events:</h2>

{{#if user.registrations}}
    <ul></ul>
    {{#each user.registrations}}
        <div>
<!--TODO events' list-->
        </div>
        <p>{{this.city.name}}</p>
    {{/each}}
{{else}}
    <p>No events.</p>
{{/if}}


