{{>navigation}}
<h1>{{title}}</h1>
<p>{{content}}</p>

<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Name: {{user.name}}</p>
<p>Surname: {{user.surname}}</p>

<h2>Events:</h2>

{{#if user.registrations}}
    <form action="user/event/delete"></form>
    <ul>
        {{#each user.registrations}}
            <li>
                <p class="font-weight-bold">{{this.event.date}}</p>
                <p class="">{{this.event.name}}, {{this.city.name}}</p>
                <!--TODO how to pass javascript method?-->
                <a class="link-danger" onClick="">Unregister</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No events.</p>
{{/if}}


