<h1>{{title}}</h1>
<p>{{content}}</p>
<ul>
    {{#each users as | user |}}
        <li>
            {{#each user}}
                <a href="https://{{website}}">{{name}}</a>
                {{#if address}}
                    {{fullAddress address}}
                {{/if}}
            {{/each}}
        </li>
    {{/each}}
</ul>

