<h2>Already registered:</h2>
<ul>
    {{#each customers as |customer|}}
        <li class="mb-4">
            {{log "customer" customer}}
            {{customer.name}} {{customer.surname}}
            {{#if customer.event}}
                - {{#with customer.event as |event|}}
                    {{event.name}} ({{event.date}})
                {{/with}}
            {{/if}}
            {{#if customer.city}}
                {{#with customer.city as |city|}}
                    in {{city.name}}
                {{/with}}
            {{/if}}

            <a href="/registerCustomer/update/{{customer._id}}" class="btn btn-warning">Update</a>
            <a href="/registerCustomer/delete/{{customer._id}}" class="btn btn-danger ml-3">Delete</a>
        </li>
    {{/each}}
</ul>
