<form id="loginUserForm" class="custom-form mb-4" method="post" action="{{action}}">
    <div>
        <label for="username" class="form-label w-100">
            <span class="font-weight-bold">Username:</span>
            <input type="text" placeholder="Enter username" name="username"
                   id="username"
                   value="{{#if user}}{{getValue user "username"}}{{else}}{{getValue request.body "username"}}{{/if}}"
                {{#if (findError errors "username")}}
                   class="form-control is-invalid"
                {{else}}
                   class="form-control"
                {{/if}} />
            {{#if (findError errors "username")}}
                <p class="text-danger">{{showError errors "username"}}</p>
            {{/if}}
        </label>
    </div>
    <div>
        <label for="password" class="form-label w-100">
            <span class="font-weight-bold">Password:</span>
            <input type="password" placeholder="Enter password" name="password" id="password"
                   value="{{#if user}}{{getValue user "password"}}{{else}}{{getValue request.body "password"}}{{/if}}"
                {{#if (findError errors "password")}}
                   class="form-control is-invalid"
                {{else}}
                   class="form-control"
                {{/if}}/>
            {{#if (findError errors "password")}}
                <p class="text-danger">{{showError errors "password"}}</p>
            {{/if}}
        </label>
    </div>
    <div class="d-flex">
        <button type="submit" id="loginButton"
                class="btn btn-primary btn-rounded w-50 mx-auto mt-4">{{button}}</button>
    </div>
</form>
